body {
    background-color: #272727;
}

.filmtitle {
    color: white;
    text-align: center;
}

.filmdesc {
    color: white;
    text-align: center;
}

.filmbox {
    padding-top: 20px;
    padding-left: 15%;
}

.film {
    background: #373737;
    padding: 100px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.9s;
}

.title {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

.title:hover {
    font-size: 92px;
}

p {
    color: white;
    margin-left: 10px;
}

.navbox {
    background-color: rgb(20, 20, 20);
    border: 5px solid rgb(25, 25, 25);
    text-align: center;
    align-content: center;
    justify-content: center;
}

* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.navbutton {
    letter-spacing: 0;
    text-decoration: none;
    color: white;
    margin: 20px;
}


.navbutton:hover {
    font-size: 28px;
}


/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #272727;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #272727;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #272727;
}

.pagedesign {
    background-color: #373737;
    border-color: #373737;
}